* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    background-color: white;
    color: black;
    line-height: 1.6;
    font-size: 22px;
}

title, h1 {
	font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;   
	font-size: 48px;
}

h2, h3 {
    font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
	font-size: 32px;
}

h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 700;
}

p {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-left: 0;
    font-size: 18px;
    font-weight: 300;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#button {
	height: 46px;
	width: 8rem;
	padding: 12px 16px;
}

#button:hover {
    background-color: #00CFC3;
}


.topnav a:hover {
    color: #00CFC3;
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.topnav {
  padding-left: 6%;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.foreground-text {
    padding-left: 6%;
    align-self: center;
    color: white;
}

.foreground-text button{
    padding: 5px;
    background: white;
    border-radius: 20px;
    min-width: 100px;
    border: none;
    margin-top: 1rem;
}

.namejob h1{
    margin-bottom: -10px;
}

.plaintitle h3{
    color: black;
    text-align: center;
    padding-top: 3rem;
}

.bluetitle h3{
    color: #00CFC3;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.iconsection {
    text-align: center;
    margin: 1.5rem 0 0 0;
    width: 20%;
    height: 250px;
}

.iconsection p {
    line-height: 18px;
	font-size: 18px;
    padding-left: 0;
}

.iconsection h5 {
	font-size: 24px;
}

.about {
    width: 100%;
    background-color: #2D2D2D;
    margin-top: 0px;
    padding-bottom: 40px;
}

.about p{
    color: white;
    text-align: center;
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.skills {
    width: 100%;
}

.skills p{
    text-align: center;
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.skillssection {
    margin: 50px auto -20px;
    max-width: 85%;
    display: flex;
    font-weight: 300;
    border-radius: 20px;
    background-color: #E9FBFA;
}

.education {
    background-color: #F7F7F7;
    margin-top: 75px;
}

h4.education, p.education {
    padding-left: 51px;
}

.contact {
    width: 100%;
    background-color: #2D2D2D;
    margin-top: 50px;
    padding-bottom: 40px;

}

.contact p{
    color: white;
    max-width: 70%;
    margin: 0 auto 40px 10%;
    font-weight: 300;
}

.details {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45rem;
}

.details a {
	color: white;
}

.details a:hover {
	text.decoration: underline;
}

.copywrite {
    text-align: center;
    margin: 10px auto;
}

.copywrite p {
    font-size: 14px;
}

#cover {
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url("./web.jpg");
    background-position: center;
    background-size: cover;
}

#expertise {
    width: 100%;
    margin: 0 0 0 0;
}

#expertiseicons {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

